-r ../requirements.txt
opencv-python==4.13.0.92
numpy==2.5.2
onnxruntime==1.27.0
pydantic==2.13.4
websockets==16.0
mss==10.2.0
Pillow==12.3.0
pytesseract==0.3.13
pyinstaller==6.21.0
altgraph==0.17.5
annotated-types==0.8.0
flatbuffers==25.12.19
packaging==26.3
pefile==2024.8.26
protobuf==7.36.1
pydantic_core==2.46.4
PyGetWindow==0.0.9
pyinstaller-hooks-contrib==2026.7
PyRect==0.2.0
pywin32-ctypes==0.2.3
setuptools==84.0.0
typing-inspection==0.4.4
typing_extensions==4.16.0
